#include <zmk-helpers/combo_helpers.h>

#define COMBO_TERM_SHORT 1500
#define COMBO_TERM_LONG  2000
#define COMBO_IDLE       20
#define DEF              0
#define RALTL            RALT LSHFT

ZMK_COMBO(altgr_a_space,       &uc 00E4, RALT A SPACE,  DEF, COMBO_TERM_SHORT, COMBO_IDLE)
ZMK_COMBO(altgr_shift_a_space, &uc 00C4, RALTL A SPACE, DEF, COMBO_TERM_LONG,  COMBO_IDLE)

ZMK_COMBO(altgr_a_q,           &uc 00E4, RALT A Q,      DEF, COMBO_TERM_SHORT, COMBO_IDLE)
ZMK_COMBO(altgr_shift_a_q,     &uc 00E4, RALTL A Q,     DEF, COMBO_TERM_LONG,  COMBO_IDLE)

ZMK_COMBO(altgr_a_w,           &uc 00E4, RALT A W,      DEF, COMBO_TERM_SHORT, COMBO_IDLE)
ZMK_COMBO(altgr_shift_a_w,     &uc 00E4, RALTL A W,     DEF, COMBO_TERM_LONG,  COMBO_IDLE)

ZMK_COMBO(altgr_a_f,           &uc 00E4, RALT A F,      DEF, COMBO_TERM_SHORT, COMBO_IDLE)
ZMK_COMBO(altgr_shift_a_f,     &uc 00E4, RALTL A F,     DEF, COMBO_TERM_LONG,  COMBO_IDLE)
